@charset "utf-8";

body {
    widows: 0;
    orphans: 0;
    font-family: 游明朝;
    font-size: 10.5pt;
    padding: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0pt
}

h1 {
    margin-top: 14pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 16pt;
    font-weight: normal;
    color: #000000
}

h2 {
    margin-top: 8pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 14pt;
    font-weight: normal;
    color: #000000
}

h3 {
    margin-top: 8pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 12pt;
    font-weight: normal;
    color: #000000
}

h4 {
    margin-top: 4pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    font-style: normal;
    color: #000000
}

h5 {
    margin-top: 4pt;
    margin-left: 5pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    color: #000000
}

h6 {
    margin-top: 4pt;
    margin-left: 10pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    color: #000000
}

.Heading7 {
    margin-top: 4pt;
    margin-left: 15pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    -aw-style-name: heading7
}

.Heading8 {
    margin-top: 4pt;
    margin-left: 20pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    color: #000000;
    -aw-style-name: heading8
}

.Heading9 {
    margin-top: 4pt;
    margin-left: 25pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 10.5pt;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    -aw-style-name: heading9
}

.CommentText {
    line-height: normal;
    widows: 0;
    orphans: 0;
    font-size: 10.5pt;
    -aw-style-name: comment-text
}

.Footer {
    line-height: normal;
    widows: 0;
    orphans: 0;
    font-size: 10.5pt;
    -aw-style-name: footer
}

.Header {
    line-height: normal;
    widows: 0;
    orphans: 0;
    font-size: 10.5pt;
    -aw-style-name: header
}

.IntenseQuote {
    margin: 18pt 43.2pt;
    text-align: center;
    widows: 0;
    orphans: 0;
    border-top: 0.75pt solid #0f4761;
    border-bottom: 0.75pt solid #0f4761;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 10.5pt;
    font-style: italic;
    color: #0f4761;
    -aw-border-bottom: 0.5pt single #0f4761;
    -aw-border-top: 0.5pt single #0f4761;
    -aw-style-name: intense-quote
}

.ListParagraph {
    margin-left: 36pt;
    widows: 0;
    orphans: 0;
    font-size: 10.5pt;
    -aw-style-name: list-paragraph
}

.Quote {
    margin-top: 8pt;
    margin-bottom: 8pt;
    text-align: center;
    widows: 0;
    orphans: 0;
    font-size: 10.5pt;
    font-style: italic;
    color: #404040;
    -aw-style-name: quote
}

.Subtitle {
    margin-bottom: 8pt;
    text-align: center;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 14pt;
    letter-spacing: 0.75pt;
    color: #595959;
    -aw-style-name: subtitle
}

.Title {
    margin-bottom: 4pt;
    text-align: center;
    line-height: normal;
    widows: 0;
    orphans: 0;
    font-family: '游ゴシック Light';
    font-size: 28pt;
    letter-spacing: -0.5pt;
    -aw-style-name: title
}

span.CommentReference {
    font-size: 9pt;
    -aw-style-name: comment-reference
}

span.Hyperlink {
    text-decoration: underline;
    color: #467886;
    -aw-style-name: hyperlink
}

span.IntenseEmphasis {
    font-style: italic;
    color: #0f4761;
    -aw-style-name: intense-emphasis
}

span.IntenseReference {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.25pt;
    color: #0f4761;
    -aw-style-name: intense-reference
}

span.UnresolvedMention {
    color: #605e5c;
    background-color: #e1dfdd;
    -aw-style-name: unresolved-mention
}

span.a0 {
    font-family: '游ゴシック Light';
    font-size: 14pt;
    letter-spacing: 0.75pt;
    color: #595959
}

span.a1 {
    font-style: italic;
    color: #404040
}

span.\32 0 {
    font-style: italic;
    color: #0f4761
}

span.a {
    font-family: '游ゴシック Light';
    font-size: 28pt;
    letter-spacing: -0.5pt
}

span.\31 {
    font-family: '游ゴシック Light';
    font-size: 16pt;
    color: #000000
}

span.\32 {
    font-family: '游ゴシック Light';
    font-size: 14pt;
    color: #000000
}

span.\33 {
    font-family: '游ゴシック Light';
    font-size: 12pt;
    color: #000000
}

span.\34 {
    font-family: '游ゴシック Light';
    color: #000000
}

span.\35 {
    font-family: '游ゴシック Light';
    color: #000000
}

span.\36 {
    font-family: '游ゴシック Light';
    color: #000000
}

span.\37 {
    font-family: '游ゴシック Light';
    color: #000000
}

span.\38 {
    font-family: '游ゴシック Light';
    color: #000000
}

span.\39 {
    font-family: '游ゴシック Light';
    color: #000000
}




/* フッター */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
}

.footer a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 8px;
}

.footer img {
    margin: 12px;
    border-radius: 8px;
}